html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

body div:has(label) {
  margin-bottom: 12px;
  gap: 4px;
}

label[class*="_tab_"] {
  padding: 0 !important;
  padding-bottom: 12px !important;
  cursor: pointer !important;
}

label[class*="_tab_"] div {
  cursor: pointer !important;
}

h2 {
  margin-top: 20px;
  margin-bottom: 12px;
}

button {
  cursor: pointer !important;
}

button:hover {
  filter: brightness(95%);
}

div[class*="_segmentedControl_"] {
  width: fit-content;
  margin-bottom: 0 !important;
  box-shadow: 0 0 0 1px #e6e6e6 inset;
}

body div.card {
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;
  background-color: #f7f7f7;
  border: 1px solid #f1f1f1;
}

div.card label[class*="_checkbox_"] div[class*="_box_"] {
  background-color: #fff;
}

div[class*="_dropdown_"] {
  background-color: #fff;
}

.flex-me {
  display: flex;
  gap: 4px;
}

.column {
  gap: 0;
  flex-direction: column;
}

.flex-me * {
  max-width: 140px !important;
}

body:not(:has(.has-img)) .primary-btn {
  pointer-events: none;
  background-color: #ddd;
  color: #a3a3a3;
}

.hide-opacity .TextboxColor__opacity,
.hide-opacity:focus .TextboxColor__opacity,
  .hide-opacity:focus-visible .TextboxColor__opacity {
  display: none !important;
}

.hide-opacity {
  padding-left: 6px;
  background-color: transparent;
}

.z-9 {
  z-index: 9;
}