body div:has(label) {
  margin-bottom: 12px;
  gap: 4px;
}

label[class*="_tab_"] {
  padding: 0 !important;
  padding-bottom: 12px !important;
  cursor: pointer !important;
}

label[class*="_tab_"] div {
  cursor: pointer !important;
}

h2 {
  margin-top: 20px;
  margin-bottom: 12px;
}

button {
  cursor: pointer !important;
}

div[class*="_segmentedControl_"] {
  width: fit-content;
  margin-bottom: 0 !important;
}

body div.card {
  background-color: #dddddd !important;
}