html, body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
}

body div:has(label) {
  margin-bottom: 12px;
  gap: 4px;
}

label[class*="_tab_"] {
  padding: 0 !important;
  padding-bottom: 12px !important;
  cursor: pointer !important;
}

label[class*="_tab_"] div {
  cursor: pointer !important;
}

h2 {
  margin-top: 20px;
  margin-bottom: 12px;
}

.card-width {
  width: 100%;
  flex-grow: 1;
}

.inner-card {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  transform: none;
  background-color: #f7f7f7ff;
  border: 1px solid #f1f1f1;
}

.has-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  scale: 0.9;
}

button {
  cursor: pointer !important;
}

button:hover {
  filter: brightness(95%);
}

div[class*="_segmentedControl_"] {
  width: fit-content;
  margin-bottom: 0 !important;
  box-shadow: 0 0 0 1px var(--figma-color-border) inset;
}

body div.card {
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 12px;
  background-color: #f7f7f7;
  border: 1px solid #f1f1f1;
}

div.card label[class*="_checkbox_"] div[class*="_box_"] {
  background-color: #fff;
}

div[class*="_dropdown_"] {
  background-color: #fff;
}

.flex-me {
  display: flex;
  gap: 4px;
}

.column {
  gap: 0;
  flex-direction: column;
}

.flex-me * {
  max-width: 140px !important;
}

body:not(:has(.has-img)) .primary-btn {
  pointer-events: none;
  background-color: #ddd;
  color: #a3a3a3;
}

.hide-opacity .TextboxColor__opacity,
.hide-opacity:focus .TextboxColor__opacity,
  .hide-opacity:focus-visible .TextboxColor__opacity {
  display: none !important;
}

.hide-opacity {
  padding-left: 6px;
  background-color: transparent;
}

.z-9 {
  z-index: 9;
}

@media (prefers-color-scheme:dark) {
  .inner-card {
    background-color: #383838;
    border: 1px solid #464646;
  }
  
  div.card label[class*=_checkbox_] div[class*=_box_], div[class*=_dropdown_] {
    background-color: #565656;
  }
  
  body div.card {
    background-color: #383838;
    border: 1px solid #464646;
  }
  
  body:not(:has(.has-img)) .primary-btn {
    background-color: #464646;
    color: #7b7b7b;
  }
}